---
import CardThum from "../components/CardThum.astro";
import Layout from "../layouts/Layout.astro";
import { movies } from "../lib/data";
---

<Layout title="Dragon Ball Movies">
  <div id="movie-container" class="relative transition-all duration-1000">
    <div
      class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full items-center gap-4"
    >
        {movies.map((movie) => <CardThum movie={movie} />)}
      
    </div>
  </div>
</Layout>

<style></style>
