---
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none"></ViewTransitions>
  </head>
  <body>
    <Navbar />
    <div id="dentro" class="p-2 md:p-9">
      <slot />
    </div>
  </body>
  
  <style is:global>

    html {
      font-family:"HelveticaUlt", Helvetica, sans-serif, system-ui, sans-serif;
      background: #13151a;
      background-size: 224px;
      color: white;
    }
    @font-face {
      font-family: "HelveticaUlt";
      src: url("/fonts/Helvetica-Ultra-Compressed.otf") ;
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
